<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="CodeRacoon"
            extensions="class"
            icon="icons/CodeRacoon_16x16.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="de.gottox.coderacoon.editors.CodeRacoon"
            id="de.gottox.coderacoon.editors.CodeRacoon">
      </editor>
   </extension>

</plugin>
